In [19]:
#### Linear Regression
#information obtained from: https://stats.stackexchange.com/questions/58739/polynomial-regression-using-scikit-learn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [20]:
# import data
data_num = pd.read_csv('data/AmesHousingNumData.csv')
data_num = data_num.drop('Unnamed: 0', axis=1) 
data_num.head()

,Mas Vnr Area,Garage Yr Blt,Year Remod/Add,Full Bath,Year Built,1st Flr SF,Total Bsmt SF,Garage Area,Garage Cars,Gr Liv Area,Overall Qual,SalePrice
0,0.055607,-0.730498,-1.155886,-1.019607,-0.368243,1.281557,0.065626,0.258714,0.309465,0.313663,-0.061812,5.332438
1,-0.569515,-0.689605,-1.107938,-1.019607,-0.335146,-0.675537,-0.384244,1.197200,-1.003952,-1.192617,-0.771063,5.021189
2,0.033281,-0.812285,-1.251781,-1.019607,-0.434438,0.439492,0.631372,-0.744814,-1.003952,-0.334434,-0.061812,5.235528
3,-0.569515,-0.403350,-0.772303,0.794069,-0.103465,2.450663,2.405858,0.230839,0.309465,1.213467,0.647439,5.387390
4,-0.569515,0.782561,0.666134,0.794069,0.856357,-0.593133,-0.279728,0.045000,0.309465,0.260151,-0.771063,5.278525

In [21]:
# split nummerical data in input and target
target_num = data_num['SalePrice']
final_data_num = data_num.drop('SalePrice', axis=1)

# select the 2 most correlated features
final_data_numSelect = data_num[['Gr Liv Area', 'Overall Qual']]
final_data_numSelect.head()

display(final_data_numSelect.head())
display(final_data_num.head())

   Gr Liv Area  Overall Qual
0     0.313663     -0.061812
1    -1.192617     -0.771063
2    -0.334434     -0.061812
3     1.213467      0.647439
4     0.260151     -0.771063

,Mas Vnr Area,Garage Yr Blt,Year Remod/Add,Full Bath,Year Built,1st Flr SF,Total Bsmt SF,Garage Area,Garage Cars,Gr Liv Area,Overall Qual
0,0.055607,-0.730498,-1.155886,-1.019607,-0.368243,1.281557,0.065626,0.258714,0.309465,0.313663,-0.061812
1,-0.569515,-0.689605,-1.107938,-1.019607,-0.335146,-0.675537,-0.384244,1.197200,-1.003952,-1.192617,-0.771063
2,0.033281,-0.812285,-1.251781,-1.019607,-0.434438,0.439492,0.631372,-0.744814,-1.003952,-0.334434,-0.061812
3,-0.569515,-0.403350,-0.772303,0.794069,-0.103465,2.450663,2.405858,0.230839,0.309465,1.213467,0.647439
4,-0.569515,0.782561,0.666134,0.794069,0.856357,-0.593133,-0.279728,0.045000,0.309465,0.260151,-0.771063

In [22]:
# import categorical data
data_cat = pd.read_csv('data/AmesHousingCatData.csv')
data_cat = data_cat.drop('Unnamed: 0', axis=1) 
display(data_cat.head())

# select the input and target from categorical data
target_cat = data_cat['SalePrice']
final_data_cat = data_cat.drop('SalePrice', axis=1)
display(final_data_cat.head())

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial,SalePrice
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,5.332438
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,5.021189
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,5.235528
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,5.387390
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,5.278525

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [23]:
data_all = pd.read_csv('data/AmesHousingPreprocessed.csv')
data_all = data_all.drop('Unnamed: 0', axis=1) 
# display(data_all.head())

target_all = data_all['SalePrice']
# target_2 = data_all['SalePrice.1']
final_data_all = data_all.drop(['SalePrice', 'SalePrice.1'], axis=1)
display(final_data_all.head())

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Garage Yr Blt,Year Remod/Add,Full Bath,Year Built,1st Flr SF,Total Bsmt SF,Garage Area,Garage Cars,Gr Liv Area,Overall Qual
0,0,0,0,0,1,0,0,0,0,0,...,-0.730498,-1.155886,-1.019607,-0.368243,1.281557,0.065626,0.258714,0.309465,0.313663,-0.061812
1,0,0,0,0,1,0,0,0,0,0,...,-0.689605,-1.107938,-1.019607,-0.335146,-0.675537,-0.384244,1.197200,-1.003952,-1.192617,-0.771063
2,0,0,0,0,1,0,0,0,0,0,...,-0.812285,-1.251781,-1.019607,-0.434438,0.439492,0.631372,-0.744814,-1.003952,-0.334434,-0.061812
3,0,0,0,0,1,0,0,0,0,0,...,-0.403350,-0.772303,0.794069,-0.103465,2.450663,2.405858,0.230839,0.309465,1.213467,0.647439
4,0,0,0,0,0,0,0,0,0,1,...,0.782561,0.666134,0.794069,0.856357,-0.593133,-0.279728,0.045000,0.309465,0.260151,-0.771063

In [24]:

def preprosses(df, target, train_size = 0.7):
    
    """convert the pandas dataframes to numpy ndarrays"""
    
    X_np = df.to_numpy()
    y_np = target.to_numpy()
    
    #split the data into 70% training and 30% testing
    X_train, X_test, y_train, y_test = train_test_split(X_np, y_np, train_size=train_size, random_state=1265599650)
    
    return X_train, X_test, y_train, y_test

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error



def calc_mae_rmse(X_train, X_test, y_train, y_test, linear_model):
    
    
    linear_model.fit(X_train, y_train)
    
    predict = linear_model.predict(X_test)

    linear_test_mae = mean_absolute_error(y_test, predict)
    linear_test_rmse = np.sqrt(mean_squared_error(y_test, predict))
    
    print(f'The test MAE for our multivariate linear model {linear_test_mae}')
    print(f'The test RMSE for our multivariate linear model {linear_test_rmse}')

    #print(f"The theta values for our multivariate linear model are:\n{linear_model.intercept_} and {linear_model.coef_}.")





#linear_model2.fit(X_train, y_train)

# predict = linear_model2.predict(X_test)

# linear_test_mae = mean_absolute_error(y_test, predict)
# linear_test_rmse = np.sqrt(mean_squared_error(y_test, predict))

# print(f'The test MAE for our linear model {linear_test_mae}')
# print(f'The test RMSE for our linear model {linear_test_rmse}')

# print(f"The theta values for the sklearn linear model are:\n{linear_model2.intercept_} and {linear_model2.coef_}.")

#### Polynomial features

In [26]:
from sklearn.preprocessing import PolynomialFeatures

In [27]:
# X = X_train
# X_ = X_train_
# vector = y_train
# predict = X_test
# predict_ = X_test_




def add_poly(X_train, X_test, y_train, y_test, poly_model, deg = 2):
    
    # change feature matrix into polynomial feature matrix
    poly = PolynomialFeatures(degree = deg)
    X_train_ = poly.fit_transform(X_train)
    X_test_ = poly.fit_transform(X_test)
    


    poly_model.fit(X_train_, y_train)

    predictions = poly_model.predict(X_test_)

    poly_test_mae = mean_absolute_error(y_test, predictions)
    poly_test_rmse = np.sqrt(mean_squared_error(y_test, predictions))

    print(f'The test MAE for our polynomial linear model {poly_test_mae}')
    print(f'The test RMSE for our polynomial linear model {poly_test_rmse}')

    #print(f'The theta values for our polynomial linear model are:\n{poly_model.coef_} and {poly_model.intercept_}')



# change feature matrix into polynomial feature matrix
# poly = PolynomialFeatures(degree=2)
# X_train_ = poly.fit_transform(X_train)
# X_test_ = poly.fit_transform(X_test)

# # implement model
# poly_model = LinearRegression()

# poly_model.fit(X_train_, y_train)

# predictions = poly_model.predict(X_test_)

# poly_test_mae = mean_absolute_error(y_test, predictions)
# poly_test_rmse = np.sqrt(mean_squared_error(y_test, predictions))

# print(f'The test MAE for our linear model {poly_test_mae}')
# print(f'The test RMSE for our linear model {poly_test_rmse}')

# print(f'The theta values for the sklearn linear model are:\n{poly_model.coef_} and {poly_model.intercept_}')

#### Only interaction features

In [28]:
# change feature matrix into polynomial feature matrix



def poly_interact(X_train, X_test, y_train, y_test, poly_model_interact):

    poly_interact = PolynomialFeatures(interaction_only=True)
    X_train_interact = poly_interact.fit_transform(X_train)
    X_test_interact = poly_interact.fit_transform(X_test)
    
    poly_model_interact.fit(X_train_interact, y_train)

    predictions = poly_model_interact.predict(X_test_interact)

    poly_test_mae = mean_absolute_error(y_test, predictions)
    poly_test_rmse = np.sqrt(mean_squared_error(y_test, predictions))

    print(f'The test MAE for our interact linear model {poly_test_mae}')
    print(f'The test RMSE for our interact linear model {poly_test_rmse}')

    #print(f'The theta values for the interact linear model are:\n{poly_model_interact.coef_} and {poly_model_interact.intercept_}')

## all nummerical data

In [29]:
X_train, X_test, y_train, y_test = preprosses(final_data_numSelect, target_num, train_size =0.7)

In [30]:
print(f'These are the outcomes for just a selection of the nummerical data')

linear_model_numSelect = LinearRegression()
calc_mae_rmse(X_train, X_test, y_train, y_test, linear_model_numSelect)

print(f'\n')
print(f'Degree of 4 turned out to be the best degree if only 2 categories are selected')
poly_model_numSelect = LinearRegression()
add_poly(X_train, X_test, y_train, y_test, poly_model_numSelect, deg = 4)

print(f'\n')
poly_model_interact_numSelect = LinearRegression()
poly_interact(X_train, X_test, y_train, y_test, poly_model_interact_numSelect)

These are the outcomes for just a selection of the nummerical data
The test MAE for our multivariate linear model 0.0636664852273963
The test RMSE for our multivariate linear model 0.08980180520039575


Degree of 4 turned out to be the best degree if only 2 categories are selected
The test MAE for our polynomial linear model 0.06107541528924513
The test RMSE for our polynomial linear model 0.08475612213616365


The test MAE for our interact linear model 0.06465051075628676
The test RMSE for our interact linear model 0.08956889397883937

In [13]:
X_train, X_test, y_train, y_test = preprosses(final_data_num, target_num, train_size =0.7)

In [14]:
print(f'These are the outcomes for all the nummerical data')
linear_model_num = LinearRegression()
calc_mae_rmse(X_train, X_test, y_train, y_test, linear_model_num)

print(f'\n')
print(f'Degree of 2 was found to be the best fit')
poly_model_num = LinearRegression()
add_poly(X_train, X_test, y_train, y_test, poly_model_num, deg = 2)

print(f'\n')
poly_model_interact_num = LinearRegression()
poly_interact(X_train, X_test, y_train, y_test, poly_model_interact_num)

These are the outcomes for all the nummerical data
The test MAE for our multivariate linear model 0.05020711493350643
The test RMSE for our multivariate linear model 0.07730015854623123


Degree of 2 was found to be the best fit
The test MAE for our polynomial linear model 0.04743238951528551
The test RMSE for our polynomial linear model 0.06867811274933439


The test MAE for our interact linear model 0.04791223396308499
The test RMSE for our interact linear model 0.06973284142381102

In [15]:
X_train, X_test, y_train, y_test = preprosses(final_data_cat, target_cat, train_size =0.7)

In [16]:
print(f'These are the outcomes for all the categorical data')



linear_model_cat = LinearRegression()
calc_mae_rmse(X_train, X_test, y_train, y_test, linear_model_cat)

print(f'\n')
poly_model_cat = LinearRegression()
add_poly(X_train, X_test, y_train, y_test, poly_model_cat)

print(f'\n')
poly_model_interact_cat = LinearRegression()
poly_interact(X_train, X_test, y_train, y_test, poly_model_interact_cat)

These are the outcomes for all the categorical data
The test MAE for our multivariate linear model 1481296000.042115
The test RMSE for our multivariate linear model 22940208628.09661


The test MAE for our polynomial linear model 68694239.70047206
The test RMSE for our polynomial linear model 134711721.31269112


The test MAE for our interact linear model 87551760.6542425
The test RMSE for our interact linear model 197107797.31881782

In [17]:
X_train, X_test, y_train, y_test = preprosses(final_data_all, target_all, train_size =0.7)

In [18]:
print(f'These are the outcomes for all the data')

linear_model_all = LinearRegression()
calc_mae_rmse(X_train, X_test, y_train, y_test, linear_model_all)

print(f'\n')
poly_model_all = LinearRegression()
add_poly(X_train, X_test, y_train, y_test, poly_model_all)

print(f'\n')
poly_model_interact_all = LinearRegression()
poly_interact(X_train, X_test, y_train, y_test, poly_model_interact_all)




# target_num
# final_data_numSelect
# final_data_num

# target_cat
# final_data_cat

# target_all
# final_data_all

These are the outcomes for all the data
The test MAE for our multivariate linear model 71599943.94680019
The test RMSE for our multivariate linear model 1237793133.1196983


The test MAE for our polynomial linear model 655289.6657071076
The test RMSE for our polynomial linear model 1019332.2974563014


The test MAE for our interact linear model 458031.3402619937
The test RMSE for our interact linear model 699564.812357513